.calendar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.calendar {
    display: flex;
    justify-content: baseline;
    min-width: 500px;
    min-height: 700px;
    width: 1500px;
    height: 725px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    overflow-x: auto;
    overflow-y: auto;
}

table {
    text-align: center;
    table-layout: fixed;
    width: 100%;

}

th {
    padding: 5px 90px;
}

td {
    overflow: hidden;
    padding: 25px 50px;
    word-wrap: break-word;
}

caption {
    font-size: 20px;
    font-weight: 800;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(70, 131, 187, 0.8);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(60, 112, 160, 0.8);
    border-radius: 20px;
}
