<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANDEU Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0" />
</head>
<body>
    <div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
                <img th:src="@{/img/randeutrans.png}" alt="logo">
            </div>
            <div class="login-card-header">
                <h1>DOKUZ EYLUL UNIVERSITY<br>APPOINTMENT SYSTEM</h1>
            </div>
            <form class="login-card-form" th:action="randeu" method="post" object="${person}">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input
                            id="mail"
                            type="text"
                            placeholder="*****@ogr.deu.edu.tr"
                            name="email"
                            required
                            autofocus
                    />
                </div>
                <!-- error message -->
                <div th:if="${wrong_email}" th:text="${wrong_email}" style="color: red;"></div>
                <div class="form-item" >
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input
                            id="pw"
                            type="password"
                            name="password"
                            placeholder="**********"
                            required
                    />
                </div>
                <!-- error message -->
                <div th:if="${wrong_password}" th:text="${wrong_password}" style="color: red;"></div>
                <div class="form-item other">
                    <div class="checkbox">
                        <input type="checkbox" id="rememberMeCheckBox">
                        <label for="rememberMeCheckBox">Remember Me</label>
                    </div> 
                </div>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>

</body>
</html> 