<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="randeu_style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="info-panel">
        <div class="image-box">
            <img src="logo.png" alt="logo">
        </div>
        <div class="alert-box">
            <span class="material-symbols-outlined">
                notifications
            </span>
        </div>
        <div class="user-panel">
            <p>BK</p>
        </div>
    </div>
</body>
</html>