@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.info-panel {
    height: 120px;
    background: rgba(0, 72, 138, 0.3);
    margin-top: 20px;
    border-color: rgb(0, 72, 138);
    border-style: solid;
    border-radius: 15px;
}


.user-panel {
    float: right;
    position: fixed;
    margin-left: calc(100% - 120px);
    margin-top: 25px;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: rgb(0, 72, 138);
    border-radius: 50%;
    text-align: center;
    line-height: 2px;
    font-family: "Roboto";
    font-size: 30px;
}

.alert-box {
    float: right;
    position: fixed;
    margin-left: calc(100% - 175px);
    margin-top: 47.5px;
    height: 25px;
    width: 25px;
    border-style: solid;
    border-color: rgb(0, 72, 138);
    border-radius: 50%;
    text-align: center;
}

.image-box {
    float: left;
}

.image-box img {
    width: 120px;
}

.material-symbols-outlined {
    color: rgb(0, 72, 138);
}