<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANDEU</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/randeu_style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/appointment.css}"/>
    <!-- Icon JS-->
    <script src="https://kit.fontawesome.com/033c9edf1d.js" crossorigin="anonymous"></script>


</head>
<body>

<div class="sidebar">
    <div class="logo">
        <img src="../img/randeu_open-176x32.png" alt="">
    </div>
    <ul class="menu">
        <li class="active">
            <a th:href="@{appointments}" >
                <i class="fa-solid fa-calendar-check"></i>
                <span>Appointments</span>
            </a>
        </li>
        <li>
            <a th:href="@{calendar}">
                <i class="fa-solid fa-calendar-days"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a th:href="@{notifications}">
                <i class="fa-solid fa-bell"></i>
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a th:href="@{account}">
                <i class="fa-solid fa-user"></i>
                <span>Account</span>
            </a>
        </li>
        <li class="log-out">
            <a th:href="@{login}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>

<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2 class="text">APPOINTMENTS</h2>
        </div>
        <div class="user--info">
            <span class="text" th:text="${name + ' ' + surname}"></span>
            <img src="../img/user.png" alt="">
        </div>
    </div>
    <div class="card-container" th:switch="${user}" th:each="appointment : ${appointments}">
        <div class="card"  >
                <div th:case="'student'">
                    <p ><strong><span th:text="${#dates.format(appointment.date, 'dd MMM yyyy hh:mm')}"></span></strong></p>
                    <p class="name" th:text="${appointment.lecturer.name} + ' ' + ${appointment.lecturer.surname}"></p>
                    <p><strong>Campus: </strong><span th:text="${appointment.address.campus}"></span></p>
                    <p><strong>Building: </strong><span th:text="${appointment.address.facBuilding}"></span></p>
                    <p><strong>Room No: </strong><span th:text="${appointment.address.roomNo}"></span></p>
                    <p><strong>Subject: </strong><span  th:text="${appointment.subject}"></span></p>
                    <div th:switch="${appointment.statusType}" class="status">
                        <p th:case="${appointment.statusType.APPROVED}" class="approved">APPROVED</p>
                        <p th:case="${appointment.statusType.REJECTED}" class="rejected">REJECTED</p>
                        <p th:case="${appointment.statusType.PENDING}" class="pending">PENDING</p>
                        <p th:case="'*'" class="pending">PENDING</p>
                    </div>
                </div>
                <div th:case="'lecturer'">
                    <p ><strong><span th:text="${#dates.format(appointment.date, 'dd MMM yyyy hh:mm')}"></span></strong></p>
                    <p class="name" th:text="${appointment.student.name} + ' ' + ${appointment.student.surname}"></p>
                    <p><strong>Campus: </strong><span th:text="${appointment.address.campus}"></span></p>
                    <p><strong>Building: </strong><span th:text="${appointment.address.facBuilding}"></span></p>
                    <p><strong>Room No: </strong><span th:text="${appointment.address.roomNo}"></span></p>
                    <p><strong>Subject: </strong><span  th:text="${appointment.subject}"></span></p>

                    <div th:switch="${appointment.statusType}" class="button-wrapper">
                        <div th:case="${appointment.statusType.PENDING}">
                            <a class="btn approve" th:href="@{/approve-appointment/{apid}(apid=${appointment.id})}">
                               >APPROVE</a>
                            <a class="btn reject" th:href="@{/reject-appointment/{apid}(apid=${appointment.id})}">
                                REJECT</a>
                        </div>
                        <div class="status">
                        <p th:case="${appointment.statusType.APPROVED}" class="approved">APPROVED</p>
                        <p th:case="${appointment.statusType.REJECTED}" class="rejected">REJECTED</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <button class="btn approve" th:onclick="openPopup()">new</button>
    <div class="popup" id="popup">
        <form action="#" th:action="@{/new-appointment}" th:object="${appointment}" method="post" id="new-appt-form">
            <select name="lecturerId" class="form-control" id="dropDownList">
                <option value="0">Select lecturer</option>
                <option th:each="lecturer : ${lecturers}" th:value="${lecturerId}" th:text="${lecturer.name}"></option>
            </select>
            <input type="text" id="subject" name="subject">
            <input type="submit" value="submit" th:onclick="closePopup(), resetInputs()">
        </form>
    </div>
</div>








<!-- Custom JS -->
<script src="../js/appointments.js"></script>
</body>
</html>